<div class="row">
	<div class="col s12 m6">
		<div class="card sticky-action">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="../assets/images/allcollege.png">
			</div>
			<div class="card-action">
				<span class="card-title activator grey-text text-darken-4">AllCollege.us<i class="material-icons right">more_vert</i></span>
				<p>
					<a href="https://itunes.apple.com/us/app/allcollege/id957403015?mt=8">Download iOS App</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
				<p>AllCollege needed a mobile app for their users to communicate with each other on the go. The app offers a
					news feed, a deals section, and a discussion board. You can talk and communicate with friends, and students at
					your university. Includes messaging capabilities, take & post photos, push notifications, and a beautiful
					interface, The AllCollege App offers a great community and seamless integration with the allcollege website.
					<br/> <br/>

					Technologies behind the mobile app include Xamarin and C#. The website utilizes PHP & Joomla on the backend.
					<br/> <br/>

					<a href="https://itunes.apple.com/us/app/allcollege/id957403015?mt=8">AllCollege</a> can be downloaded at the
					app store and their website can be found at <a href="http://allcollege.us">allcollege.us</a>
					<br/>
					<br/>
					AllCollege screenshots below: <br/> <br/>
				<div class="row">
					<img class="col s4" src="../assets/images/allcollege/screen322x572.jpeg">
					<img class="col s4" src="../assets/images/allcollege/screen322x572-1.jpeg">
					<img class="col s4" src="../assets/images/allcollege/screen322x572-2.jpeg">
				</div>
				<br/> <br/><br/>
				<br/><br/> <br/>
				</p>
			</div>
		</div>
	</div>
	<div class="col s12 m6">
		<div class="card sticky-action">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="../assets/images/social_crypto_score.png">
			</div>
			<div class="card-action">
				<span class="card-title activator grey-text text-darken-4">SocialCryptoScore<i class="material-icons right">more_vert</i></span>
				<p><a href="https://socialcryptoscore.com">view SocialCryptoScore.com</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
				<p>SocialCryptoScore analyzes the social influcence of crypto currency and tries to predict the prices by
					charting social popularity.
					The application is built in Laravel, and uses various APIs (reddit, coinmarketcap, twitter). <br/> <br/>

					Backend technologies include PHP-fpm, Nginx, and Amazon RDS. The deployment process is fully automated
					utilizing docker and terraform. <br/> <br/>
					Frontend technologies include Webpack, ChartJS, Bootstrap, & Datatables</p>
			</div>
		</div>
	</div>

</div>
<div class="row">
	<div class="col s12 m6">
		<div class="card sticky-action">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="../assets/images/brilliant_bosses.png">
			</div>
			<div class="card-action">
				<span class="card-title activator grey-text text-darken-4">Dauten.com & BrilliantBosses.com<i
					class="material-icons right">more_vert</i></span>
				<p><a href="http://brilliantbosses.com">View BrilliantBosses.com</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
				<p><a href="http://brilliantbosses.com">BrilliantBosses.com</a> is a business advice blog & newsletter. It runs
					on wordpress utilizing a custom theme implemented in PHP.
					<br/> <br/> <a href="http://dauten.com">Dauten.com</a> is a biography & promotional website. It's built with
					bootstrap and vanillaJS utilzing static html.</p>
			</div>
		</div>
	</div>
</div>