---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Syntax highlighting sass properties and inclusion
$base-font-size: 1em;
$spacing-unit:     30px !default;

%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

@import "syntax-highlighting";
.skill
{
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
}

.skill-text {
  background-color:#436786;
  border-radius: 5px;
  color: #fff;
  padding: 2px 4px;
}

.card-content {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
}

#blog .card-image {
  min-height: 150px;
  background-color: #9f9c9c;
}

.highlighter-rouge div.highlight {
  padding: 5px;
}

.post-content ul {
  list-style-type: initial;
  padding-left: 2em;

  li {
    list-style-type: initial;
  }
}
